<section id="header" style="height: 75vh;" class="centerY">
    <div class="container">
        <div class="content header background-video" class="" >
            <video autoplay muted loop playsInline >
                <source src="header.mp4" type="video/mp4" />
            </video>
            <div class="bg-header ">
                <div class="text center column" style="margin-top: 10vh; text-align: center;">
                    <div class="zindex" style="text-align: center;">
                        <div class="title">
                            Building the future,
                        </div>
                        <div class="title">one line of code at a time.</div>

                    </div>
                    <div class="" style="width: 80%;">
                        <div class="zindex">
                            <div class="sub_title">
                                Full-stack developer turning complex ideas into seamless digital experiences.
                            </div>
                        </div>
                        <div class="zindex">
                            <div class="sub_title">
                                Crafted with heart. Designed to make life easier.
                            </div>
                        </div>
                    </div>
                    <div class="zindex">
                        <div class="btns row center" style="margin-top: 40px; gap: 12px;">
                            <button><a href="boussaid-intissar.pdf" download="">Download CV</a></button>
                            <!-- <button  style="color: var(--text-color);">what's App</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>