<div class="container" style="margin-top: 170px">
    <div class="content">
        <div class="row-wrap center ">
              <div class="btns_bg">
             <button class="btn2"></button>
            </div>
            <div class="card x7rm center">
                <div class="w7um centercentent">
           Hi, I’m BOUSSAID intissar. I've a Bachelor’s degree in Software Engineering, and I specialize in creating apps and websites that deliver real impact. I bring enthusiasm, creativity, and dedication to every project I work on. I’m open to collaboration and excited to take on new challenges that push boundaries and make a difference.
                </div>
            </div>
              <div class="btns_bg">
             <button class="btn3"></button>
            </div>
        </div>
    </div>
</div>