<section id="projects">
    <div class="container section-projects" style="margin-top: 5%;">
    <div class="" style="width: 100%;">
        <div class="centerY row">
            <div class="line-title"></div>
            <div class="section-title">Projects:</div>
        </div>
    </div>
    <div class="content">
        <div class="btns_bg" style="margin-top: -500px; margin-left: 485px;">
            <button class="btn6"></button>
        </div>
        <div class="btns_bg" style="margin-top: -250px; margin-left: 100px;">
            <button class="btn6"></button>
        </div>
        <div class="cards row-warp center">
            <div class="card xwc center column deepshop">
                <div class="content" style="height: 100%;">
                    <div class="center">
                        <div class="row center" style="width: 90%;">
                            <div class="status">OnGoing</div>
                            <div class="title  center">DeepShop</div>
                            <div class="lien"> <a href="https://intissarboussaid.github.io/deepshop/">
                                    <i class="fa-solid fa-link"></i></a> </div>
                        </div>
                    </div>
                    <div class="column center">
                        <div class="line"></div>
                        <div class=" center" style="width: 90%;">
                            <div class="content center ">
                                <div class="">
                                    <img src="deepshop.jpeg" alt="">

                                </div>

                            </div>
                        </div>
                        <div class="item">
                            <ul class="text" style="width: 90%; ">

                                <li> Developed a full-featured E-commerce SaaS platform with distinct admin and user
                                    roles, each with
                                    tailored functionalities. </li>
                                <li>Designed and implemented 140+ RESTful backend APIs and 40+ dynamic Angular
                                    components,
                                    ensuring scalability and maintainability.</li>
                                <li>Built a responsive Admin Dashboard </li>
                                <li>Built a modern User Interface</li>
                                <li>Implemented email notifications, role-based access, and secure authentication using
                                    Spring
                                    Security and AuthSpring.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btns_bg">
                <button class="btn3"></button>
            </div>
            <div class="card xwc center column eliteschool">
                <div class="content" style="height: 100%;">
                    <div class="center">
                        <div class="row center" style="width: 90%;">
                            <div class="status">Completed</div>
                            <div class="title center">EliteSchool monastir </div>
                            <div class="lien" style="cursor: pointer;"><i class="fa-solid fa-link"></i></div>
                        </div>
                    </div>

                    <div class="column center">
                        <div class="line"></div>
                        <div class="center" style="width: 90%;">
                            <div class="content column ">
                                <img src="eliteschool.png" alt="" style="height: 300px; width:auto ;">
                            </div>
                        </div>
                        <div class="item">
                            <ul class="text" style="width: 90%; ">
                                <li> Developed a static website using WordPress. </li>
                                <li>Focused on clean, organized code and ensured the website is responsive, using CSS
                                    and HTML.</li>
                                <li>Optimized website SEO to improve search rankings and organic performance.</li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="btns_bg">
                <button class="btn1"></button>
            </div>
            <div class="card xwc center column design">
                <div class="content" style="height: 100%;">
                    <div class="center">
                        <div class="row center designn" style="width: 90%;">
                            <div class="status" style="display: flex; justify-content: start;">Completed</div>
                            <div class="title center">Design WebSite</div>
                            <div class="lien"> <a href="https://intissarboussaid.github.io/portfolio/home"> <i
                                        class="fa-solid fa-link"></i></a></div>
                        </div>
                    </div>

                    <div class="column center">
                        <div class="line"></div>
                        <div class="center" style="width: 90%;">
                            <div class="content column center">
                                <img src="design website.jpeg" alt="" style="height: 400px; width:50% ;">
                            </div>
                        </div>
                        <div class="item">
                            <ul class="text" style="width: 90%; ">

                                <li> Developed a full-featured E-commerce SaaS platform with distinct admin and user
                                    roles, each with
                                    tailored functionalities. </li>
                                <li>Designed and implemented 140+ RESTful backend APIs and 40+ dynamic Angular
                                    components,
                                    ensuring scalability and maintainability.</li>
                                <li>Built a responsive Admin Dashboard </li>
                                <li>Built a modern User Interface</li>
                                <li>Implemented email notifications, role-based access, and secure authentication using
                                    Spring
                                    Security and AuthSpring.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btns_bg">
                <button class="btn1"></button>
            </div>
            <div class="card xwc center column mediwave">
                <div class="content" style="height: 100%;">
                    <div class="center">
                        <div class="row center mediwavee" style="width: 90%;">
                            <div class="status" style="display: flex; justify-content: start;">Completed</div>
                            <div class="title center">Mediwave</div>
                            <div class="lien" style="cursor: pointer;"><i class="fa-solid fa-link"></i></div>
                        </div>
                    </div>
                    <div class="column center">
                        <div class="line"></div>
                        <div class="center" style="width: 90%;">
                            <div class="content column">
                                <img src="mediwave.png" alt="" style="height: 250px; width:100%;">
                            </div>
                        </div>
                        <div class="item">
                            <ul class="text" style="width: 90%; ">

                                <li> Updated and developed a Healthcare website with reactJS and spring boot. </li>
                                <li>Strengthened my skills as a Full Stack Developer.</li>
                                <li>Managed the deployment of the website through a VPS server.</li>
                                <li> Ensured the web site is responsive, using CSS and HTML, and optimized the interface
                                    for seamless
                                    responsiveness across all devices.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
