<section id="contact">
    <div class="container section-contact" style="margin-top: 5%;">
        <div class="" style="width: 100%;">
            <div class="centerY row">
                <div class="line-title"></div>
                <div class="section-title">Contact Me</div>
            </div>
            <div class="content center all">
                <div class="email-phone">
                    <div class="email column centerY center">
                  <i class="fa-solid fa-envelope"></i> 
                  <p>For inquiries, collaborations, or support, please don’t hesitate to contact us via email — we’ll be happy to get back to you.</p> 
                  <h2>intissarboussaid2&#64;gmail.com</h2> 
                </div>
                <div class="line"></div>
                <div class="phone column centerY center">
                 <i class="fa-solid fa-phone"></i>
                 <p>Reach us by phone for any questions__ we'll be here for you!</p>
                 <h2>+216 95 522 109</h2>  
                </div>
                </div>                         
                <div class="git-link">
                    <div class="line"></div>
                    <div class="github column centerY center">
                 <i class="fa-brands fa-github"></i>
                 <p>Browse my repositories on Github to explore my work, code, and open source contributions.</p>
                 <h2><a href="https://github.com/intissarboussaid"><i class="fa-solid fa-link"></i></a> </h2> 
                </div>
                <div class="line"></div>
                <div class="linkedin column centerY center">
                  <i class="fa-brands fa-linkedin"></i>
                  <p>let's connect on linkedIn __ I'd love to share ideas, projects, and opportunities.</p>
                  <h2><a href="https://www.linkedin.com/in/intissar-boussaid-a87870228/"><i class="fa-solid fa-link"></i></a> </h2>
                </div>
                </div>
                
            </div>
        </div>
    </div>
</section>